.card {
  background: rgb(135, 135, 135);
  /* background: linear-gradient(
    135deg,
    rgb(135, 135, 135) 0%,
    rgba(201, 201, 201, 1) 50%,
    rgba(135, 135, 135, 1) 100%
  ); */
  background-color: #fff;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
}

.card-image {
  scale: 0.7;
  transition: all 0.6s;
}
.image .card-image:hover {
  scale: 1.0;
}

.add-to-cart {
  color: #fff;
  background: #da231f;
  font-weight: 800;
  transition: all 0.6s;
}
.col-12 .add-to-cart:hover{
  background: #fff;
  border: 1px solid #da231f;
  color: #da231f;
}
