.choice.nav-link {
    color: rgb(255, 71, 71);
}

.not-choice.nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.nav-link {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  transition: all 0.6s;
}
.nav-link:hover{
    color: #DA0037;
}

.category{
    color: rgba(255, 255, 255, 0.75);
    transition: all 0.6s;
}
.category:hover{
    color: #DA0037;
}