.content-outlet {
  /* background: rgb(101, 101, 101); */
  background: rgb(149, 149, 149);
  padding-bottom: 50px;
  /* background: radial-gradient(
    circle,
    rgba(101, 101, 101, 1) 0%,
    rgba(201, 201, 201, 1) 53%,
    rgba(101, 101, 101, 1) 100%
  ); */
  /* padding: 50px 0; */
  /* border: 3px solid rgb(0 0 0 / 50%);
  border-top: none; */
}
