.background-search {
  background: linear-gradient(#363872b2, #363872b2),
    url("../img/img/sneakers-skateboard-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-carousel {
  font-size: 80px;
  font-weight: 600;
}

.title {
  font-weight: 600;
}

.filter {
  display: flex;
  justify-content: end;
  margin-right: 12px;
}

.ctn-search .MuiButtonBase-root{
  color: white !important;
}

.ctn-search .MuiButtonBase-root.Mui-selected{
  color: #da231f !important;
}

.css-dev-only-do-not-override-9ntgx0 {
  border-color: #da231f !important;
}
.ant-input-search-button:hover, span.anticon.anticon-audio:hover, .fa-backspace:hover{
  color: #da231f !important;
}
