.footer {
  .container-fluid {
    // background-color: #f5f5f5;
    background: #444444;
    // background: radial-gradient(
    //   circle,
    //   rgba(100, 100, 100, 1) 0%,
    //   rgba(201, 201, 201, 1) 53%,
    //   rgba(100, 100, 100, 1) 100%
    // );
    .row {
      padding: 35px 0;
    }
    .r1 {
      .col-12 {
        .content {
          .title {
            color: #fff;
            font-size: 30px;
            font-weight: 800;
            @media screen and (max-width: 992px) {
              padding-top: 30px;
              font-size: 22px;
              border-bottom: 2px solid #fff;
            }
          }
          .list {
            margin: 0;
            padding: 0;
            // padding-right: 20px;
            border-right: 1px solid #fff;
            &.special {
              border: none;
            }
            li {
              color: #fff;
              list-style: none;
              font-size: 20px;
              @media screen and (max-width: 992px) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
